scripts/rootfs.img
scripts/kernel-arm
scripts/versatile-pb.dtb
buildroot/rootfs.ext2
buildroot/zImage
buildroot/versatile-pb.dtb
kernel_module/*.ko
kernel_module/*.o
kernel_module/*.mod
kernel_module/*.mod.c
kernel_module/.*.cmd
kernel_module/Module.symvers
kernel_module/modules.order
app/basic_app
app/benchmark
app/basic_app
app/benchmark
